/* Header */

div.header {
    height: 42px;
}

div.logo h1, div.logo p {
    float: left;
    text-transform: lowercase;
}

div.logo h1 {
    padding: 0px 0 0 40px;
}

div.logo p {
    margin: 0;
    padding: 14px 0 0 4px;
    line-height: normal;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

div.logo a {
    text-decoration: none;
    color: #D0C7A6;
}

div.menu {
    float: right;
}

div.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.menu li {
    display: block;
    float: left;
    height: 42px;
}

div.menu a {
    display: block;
    padding: 8px 20px 0px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #CEC5A4;
}

div.menu .last {
    margin-right: 20px;
}

div.menu a:hover {
    color: #FFFFFF;
}

div.menu .current_page_item A {
    text-decoration: underline;
}

div.menu .current_page_item a {
}

/* cards */

.message_card {
    margin: 5px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    list-style-type: none;
    width: 500px;
}

.message_stream {
}

#message_thread{
    margin-left: 10px;
}

.m_inbound {
    list-style-type: none;
    margin:10px;
}

.m_outbound {
    list-style-type: none;
    margin:10px;
    color:#C0C0C0
}
